.top-parent {
    height: 100vh;
  }
  
  .explore-parent {
    height: 100%;
    overflow-y: auto;
  }
  
  .messageArea {
    flex-grow: 1;
    height: 100%;
  }
  
  @media (max-width: 768px) {
    .messageArea {
      display: block;
    }
  }
  